
* {
  margin: 0;
}


nav {background-color: #efbc44; opacity: .7; padding:15px; margin-bottom:20px; position: relative;
}
h1 {font-size:42px; padding-top:10px; font-family: 'Redressed', cursive; line-height: 90%; padding-bottom: 15px;}
h2 {font-size:16px;font-family: 'Raleway';} 
h3 {font-size: 25px; padding-bottom: 5px; font-family: 'Redressed', cursive; }
p {font-size:12px;}

main {position: relative;}


.photobox {margin-top:20px; margin-bottom: 0px;}

.photo {width:100%; height: auto;
  text-align: center;
}


.description {background-color: #e0d9cb; opacity: .8; margin-top:-6px; margin-bottom: 0px; padding:15px;
}


.background {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.background img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}